@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/font/Open Sans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.main_container {
  display: none;
}


/* Autre Tabs component */
.autre-tabs {
  display: inline-block;
  height: 2.7rem; 
  font-size: 1.2rem;
  padding-top: 0.8rem;
}
.autre-tabs, .autre-tabs * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .autre-tabs__tab {
    height: 100%;
    padding: 0.2rem 0.4rem 0 0.4rem;
    display: inline-block;
    border-bottom: 0 solid #aaa;
    font-family: inherit;
    font-size: inherit;
    color: #ddd;
    cursor: pointer;
    -webkit-transition: 0.05s border-bottom-width ease-in;
    -moz-transition: 0.05s border-bottom-width ease-in;
    -ms-transition: 0.05s border-bottom-width ease-in;
    -o-transition: 0.05s border-bottom-width ease-in;
    transition: 0.05s border-bottom-width ease-in;
  }
  .autre-tabs__tab.selected {
    border-bottom: 0.45rem solid #777;
    color: #333;
  }
  .autre-tabs__tab:hover {
    border-bottom: 0.45rem solid #aaa;
  }
  #salvage_header .autre-tabs a {
    color: #777;
  }
  #salvage_header .autre-tabs a:hover {
    color: #555;
  }
  #salvage_header .autre-tabs a.autre-tabs__tab.selected {
    color: #333;
    border-bottom-color: #ffcc66;
  }

/* Scan View */
.mod--scan-view, .mod--scan-view * {
  box-sizing: border-box;
}

.mod--scan-view {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #111;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}


.scan-item {
  margin-bottom: 0.5rem;
  position: relative;
  color: #999;
  font-size: 0.8rem;
  width: 100%;
  height: 10rem;
  border: 2px solid #555;
  padding: 0;
  background-color: #333;
}
  .scan-item:hover {
    color: #eee;
    background-color: #222;
    border-color: #ccc;
  }

  .scan-item__thumbnail {
    width: 60%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: contain;
  }

  .scan-item__summary {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    font-size: 0.8rem;
    padding: 0.1rem;
  }
    .scan-item__summary__datum {
      font-size: 0.7rem;
    }
    .scan-item__summary__datum.reserve-price {
      font-size: 1rem;
    }
    .scan-item__summary__datum.closing-date {
      font-size: 0.8rem;
    }

  .scan-item--side-summary .scan-item__thumbnail {
    background-position: 0;
  }

  .scan-item--side-summary .scan-item__summary__datum {
    display: block;
  }
  .scan-item--side-summary .scan-item__summary__datum.reserve-price {
    margin-bottom: 0.5rem;
  }
  .scan-item--side-summary .scan-item__summary .year-model,
  .scan-item--side-summary .scan-item__summary .closing-date {
    margin-bottom: 0.5rem;
  }


/* Layout */

#salvageMainContent #salvage_header {
  border-bottom: 2px solid #ffcc66;
  box-sizing: border-box;
}
#salvage_header * {
  box-sizing: border-box;
}
#salvage_header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
#salvage_header p#links_right {
  margin: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  padding-right: 4rem;
  text-align: left;
}


@media only screen and (min-width : 726px) {
  /* scan items @2up */
  .scan-item--side-summary {
    width: 49%;
  }
}


@media only screen and (min-width : 866px) {
  /* all header links on one row */
  #salvage_header p#links_right {
    flex-grow: 2;
    text-align: right;
  }
}


@media only screen and (min-width : 1090px) {
  /* scan items @3up */
  .scan-item--side-summary {
    width: 32.8%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1524px) {
  /* scan items @n-up */
  .scan-item--side-summary {
    width: 23rem;
  }
}