.main_container {
  display: none;
}


/* Autre Tabs component */
.autre-tabs {
  display: inline-block;
  height: 2rem; 
  font-size: 1.2rem;
}
.autre-tabs, .autre-tabs * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .autre-tabs__tab {
    height: 100%;
    padding: 0.8rem 0.4rem 0 0.4rem;
    margin: 0;
    display: inline-block;
    border-bottom: 0 solid #aaa;
    font-family: inherit;
    font-size: inherit;
    color: #ddd;
    cursor: pointer;
    -webkit-transition: 0.05s border-bottom-width ease-in;
    -moz-transition: 0.05s border-bottom-width ease-in;
    -ms-transition: 0.05s border-bottom-width ease-in;
    -o-transition: 0.05s border-bottom-width ease-in;
    transition: 0.05s border-bottom-width ease-in;
  }
  .autre-tabs__tab.selected {
    border-bottom: 0.45rem solid #777;
    color: #333;
  }
  .autre-tabs__tab:hover {
    border-bottom: 0.45rem solid #aaa;
  }


.mod--main-tabs {
  display: block;
  margin: 0.5rem 0 0 1rem;
}
  .mod--main-tabs li {
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid #999;
    border-bottom: none;
  }


.mod--scan-view {
  padding: 1rem 0.5rem 1rem 1rem;
  background-color: #111;
}

.mod--scan-view, .mod--scan-view * {
  box-sizing: border-box;
}


.scan-item {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
  color: #ccc;
  font-size: 0.8rem;
  width: 15.8rem;
  height: 12rem;
  /*width: 245px;
  height: 184px;*/
  border: 2px solid #777;
  padding: 0;
  background-color: #555;
}

  .scan-item:hover {
    color: #eee;
    background-color: #333;
    border-color: #ccc;
  }

  .scan-item__thumbnail {
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: contain;
  }

  .scan-item__summary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-size: 0.8rem;
    padding: 0.1rem;
  }
    .scan-item__summary__datum {
      font-size: 0.7rem;
    }
    .scan-item__summary__datum.reserve-price {
      font-size: 1rem;
      color: #fff;
    }
    .scan-item__summary__datum.year-model,
    .scan-item__summary__datum.closing-date {
      font-size: 0.85rem;
    }


.scan-item--side-summary {
  width: 23rem;
}

  .scan-item--side-summary .scan-item__thumbnail {
    background-position: 0;
  }

  .scan-item--side-summary .scan-item__highlight {
    top: inherit;
    right: inherit;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  .scan-item--side-summary .scan-item__summary {
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
  }
    .scan-item--side-summary .scan-item__summary__datum {
      display: block;
    }
    .scan-item--side-summary .scan-item__summary__datum.reserve-price {
      margin-bottom: 0.5rem;
    }
    .scan-item--side-summary .scan-item__summary .year-model,
    .scan-item--side-summary .scan-item__summary .closing-date {
      margin-bottom: 0.5rem;
    }


/* Layout List of Vehicles page */

#salvageMainContent #salvage_header {
  height: 3rem;
  border-bottom: 2px solid #ffcc66;
  box-sizing: border-box;
}

#salvage_header * {
  box-sizing: border-box;
}

#salvage_header > a {
  display: inline-block;
  float: left;
}

#salvage_header p#links_right {
  display: inline-block;
  height: 100%;
  padding-top: 1.55rem;
  padding-right: 65px;
  padding-left: 1rem;
  float: right;
}

#salvage_header .autre-tabs a {
  color: #777;
}
#salvage_header .autre-tabs a:hover {
  color: #555;
}
#salvage_header .autre-tabs a.autre-tabs__tab.selected {
  color: #333;
  border-bottom-color: #ffcc66;
}

.autre-tabs.main-menu {
  height: 3rem;
  margin-left: 1rem;
}
